//- Copyright (c) 2020 Lucky Byte, Inc.
//-
extends /bulma

append css
  link(rel="stylesheet" href="/vendor/css/swiper-bundle.min.css")
  style(type='text/css').
    nav.navbar {
      background-color: rgba(0,0,0,0.3);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .swiper-container {
      width: 100%;
      height: 560px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
    .swiper-slide .columns {
      padding: 120px 20px;
    }
    .columns.qrcode img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    .columns.users img {
      max-width: 128px;
      max-height: 128px;
      width: 100%;
      height: auto;
      object-fit: contain;
      padding: 10px;
      border: 1px solid #2222;
      border-radius: 20px;
      background-color: #fff;
    }
    .columns.product img {
      max-width: 200px;
      max-height: 200px;
      border-radius: 100px;
      border: 1px solid #2222;
      margin-bottom: 10px;
    }
    footer.section {
      background-color: black;
      padding-bottom: 60px;
    }
    button.back-top {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
    }
    @media (min-width: 1024px) {
      nav.navbar, section.section {
        padding-left: 10%;
        padding-right: 10%;
      }
      .swiper-slide .columns {
        padding-left: 15%;
        padding-right: 15%;
      }
    }
    @media (prefers-color-scheme: dark) {
      .columns.users img {
        background-color: #111;
      }
    }

append script
  script(defer src="/vendor/js/swiper-bundle.min.js")
  script(defer src="/js/index.js")
  script(async src="https://www.googletagmanager.com/gtag/js?id=G-JPN7TLQH6B")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JPN7TLQH6B');

append body
  nav.navbar.is-transparent
    .navbar-brand.is-flex-grow-1
      .navbar-item.is-expanded
        img(src='/imgs/lucky-byte-dark.png')
      a.navbar-item.has-text-grey-light(
        href='https://help.lucky-byte.com' target='_blank') 文档
      a.navbar-item.has-text-grey-light(
        href='https://help.lucky-byte.com/blog' target='_blank') 博客
      .navbar-item
        a.button.is-danger.is-small.is-rounded(
          href='https://lucky-byte.com' target='_blank'
          style='font-size:0.9em; height:2em; padding:0 10px;') 登录

  .swiper-container
    .swiper-wrapper
      .swiper-slide(style='background-image:url(/imgs/slide-1.jpg);')
        .columns
          .column
            .content
              p.title.has-text-white 星收付
              p.has-text-white 企业收款，随时随地，资金安全，对账清晰
              .button.is-small.is-rounded.is-black.mt-6(href='#')
                span 了解更多
                span.icon
                  i.fas.fa-angle-right
          .column.has-text-right
            img(src='/imgs/mott.png' style='height:400px;')
      .swiper-slide(style='background-image:url(/imgs/slide-2.jpg);')
        .columns
          .column
            .content
              p.title.has-text-white STAR MARK
              p.has-text-white 帮助实体企业打通线上销售窗口
              a.button.is-small.is-rounded.is-black.mt-6(href='#')
                span 了解更多
                span.icon
                  i.fas.fa-angle-right
      .swiper-slide(style='background-image:url(/imgs/slide-3.jpg);')
        .columns
          .column
            .content
              p.title.has-text-white 品牌商城
              p.has-text-white 帮助企业打造自主品牌小程序商城
              a.button.is-small.is-rounded.is-black.mt-6(href='#')
                span 了解更多
                span.icon
                  i.fas.fa-angle-right
    .swiper-pagination

  section.section.has-text-centered
    .columns.product
      .column
        img(src='/imgs/prod-1.jpg')
        .title 星收付
        p.has-text-weight-bold 企业收款，随时随地，资金安全，对账清晰
        p.mt-3 资金安全，回款快，资金直入公司账户
        p 对账清晰，每笔订单详细记录业务信息
        p 配置灵活，适应不同的业务需求和场景
      .column
        img(src='/imgs/prod-2.jpg')
        .title STAR MARK
        p.has-text-weight-bold 帮助实体企业打通线上销售窗口
        p.mt-3 覆盖面广，直达用户
        p 团购、秒杀、优惠券
        p 众筹、爆款、二手货
      .column
        img(src='/imgs/prod-3.jpg')
        .title 品牌商城
        p.has-text-weight-bold 帮助企业打造自主品牌小程序商城
        p.mt-3 每个企业都有自己的品牌
        p 门槛低、速度快、费用低
        p 内置营销工具，全程技术支持

  section.section.has-text-centered.pt-0
    a.button.is-rounded.is-medium.is-fullwidth.is-danger(href='tel:18655953721')
      span 我想用，打个电话问问流程
    p.is-size-7.mt-1 如电话没人接听，您也确实想用，可以发邮件到
      br
      a(href='mailto:service@lucky-byte.com')  service@lucky-byte.com

  section.section.has-text-centered.pt-0
    -
      var users = [{
        name: '银盛支付', img: '/imgs/com/yins.png',
      }, {
        name: '金域医学', img: '/imgs/com/kingmed.png',
      }, {
        name: '思想力教育', img: '/imgs/com/sxl.png',
      }, {
        name: '今日互联', img: '/imgs/com/hulian.png',
      }]
    .title.is-6 品牌客户
    .columns.is-mobile.is-vcentered.is-multiline.users
      each user in users
        .column.is-3
          img(src=user.img alt=user.name)
          p.is-size-7= user.name

  footer.section
    .columns.qrcode.is-mobile.has-text-centered.has-text-light
      .column
        img(src='/imgs/wx/gzh.jpg')
        p.is-size-7 公众号
      .column
        img(src='/imgs/wx/mott.jpg')
        p.is-size-7 星收付
      .column
        img(src='/imgs/wx/mark.jpg')
        p.is-size-7 STAR MARK

    section.section.has-text-centered
      .columns.is-mobile.is-vcentered
        .column
          a.icon.has-text-success(target='_blank'
            href='https://weixin.qq.com/')
            i.fab.fa-weixin.fa-2x
        .column
          a.icon.has-text-white(target='_blank'
            href='https://github.com/lucky-byte/lucky-byte.github.io')
            i.fab.fa-github.fa-2x
        .column
          a.icon.has-text-info(target='_blank'
            href='https://www.zhihu.com/')
            i.fab.fa-zhihu.fa-2x
        .column
          a.icon.has-text-danger(target='_blank'
            href='https://luckybyte.slack.com')
            i.fab.fa-slack-hash.fa-2x
        .column
          a.icon.has-text-info(target='_blank'
            href='https://twitter.com/luckybyteinc')
            i.fab.fa-twitter.fa-2x

    .tags.is-justify-content-center
      span.tag.is-rounded.is-dark
        span.icon.has-text-success
          i.icon.fas.fa-check
        span 手机
      span.tag.is-rounded.is-dark
        span.icon.has-text-success
          i.icon.fas.fa-check
        span 桌面
      span.tag.is-rounded.is-dark
        span.icon.has-text-success
          i.icon.fas.fa-check
        span 亮色
      span.tag.is-rounded.is-dark
        span.icon.has-text-success
          i.icon.fas.fa-check
        span 暗色

    .level.is-mobile
      .level-left
        .container
          img(src='/imgs/lucky-byte.png' style='height:28px;')
      .level-right
        .container.has-text-right.has-text-grey-light
          p.is-size-7 &copy; #{new Date().getFullYear()} 合肥诺百通讯有限公司
          a.is-size-7(
            href='http://beian.miit.gov.cn' target='_blank') 皖ICP备15002320号

      button.button.is-dark.back-top(title="返回顶部")
        span.icon
          i.fas.fa-angle-up
