//- Copyright (c) 2020 Lucky Byte, Inc.
//-
extends /bulma

append css
  link(rel="stylesheet" href="/vendor/css/swiper-bundle.min.css")
  style(type='text/css').
    nav.navbar {
      background-color: rgba(0,0,0,0.3);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .swiper-container {
      width: 100%;
      height: 560px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
    .swiper-slide .columns {
      padding: 120px 20px;
    }
    .columns.qrcode img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    .columns.users img {
      max-width: 128px;
      max-height: 128px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    footer.section {
      background-color: black;
      padding-bottom: 60px;
    }
    button.back-top {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
    }
    @media (min-width: 1024px) {
      nav.navbar, section.section {
        padding-left: 10%;
        padding-right: 10%;
      }
      .swiper-slide .columns {
        padding-left: 15%;
        padding-right: 15%;
      }
    }

append script
  script(src="/vendor/js/swiper-bundle.min.js")
  script(src="/js/index.js")

append body
  nav.navbar.is-transparent
    .navbar-brand.is-flex-grow-1
      .navbar-item.is-expanded
        img(src='/imgs/lucky-byte.png')
      a.navbar-item.has-text-grey(
        href='https://help.lucky-byte.com' target='_blank') 文档
      .navbar-item
        a.button.is-danger.is-small.is-rounded(
          href='https://lucky-byte.com' target='_blank'
          style='font-size:0.9em; height:2em; padding:0 10px;') 系统登录

  .swiper-container
    .swiper-wrapper
      .swiper-slide(style='background-image:url(/imgs/1.jpg);')
        .columns
          .column
            .content
              p.title.has-text-white 星收付
              p.has-text-white 企业收款，随时随地，资金安全，对账清晰
              .button.is-small.is-rounded.is-black.mt-6(href='#')
                span 了解更多
                span.icon
                  i.fas.fa-angle-right
          .column.has-text-right
            img(src='/imgs/mott.png' style='height:400px;')
      .swiper-slide(style='background-image:url(/imgs/2.jpg);')
        .columns
          .column
            .content
              p.title.has-text-white 星商城
              p.has-text-white 帮助实体企业打通线上销售窗口
              a.button.is-small.is-rounded.is-black.mt-6(href='#')
                span 开发中
                span.icon
                  i.fas.fa-angle-right
      .swiper-slide(style='background-image:url(/imgs/3.jpg);')
        .columns
          .column
            .content
              p.title.has-text-white 品牌商城
              p.has-text-white 帮助企业打造自主品牌小程序商城
              a.button.is-small.is-rounded.is-black.mt-6(href='#')
                span 开发中
                span.icon
                  i.fas.fa-angle-right
    .swiper-pagination

  section.section.has-text-centered
    .title.is-6 订阅产品动态资讯
    .subscription
      .field.has-addons
        p.control.is-expanded
          input.input.is-rounded.is-fullwidth(type='email' name='email'
            placeholder='您的邮箱地址' style='text-align:center;')
        p.control
          button.button.is-rounded(type='submit') 提交

  section.section.has-text-centered.pt-0
    .title.is-6 品牌客户
    .columns.is-mobile.is-vcentered.users
      .column
        img(src='/imgs/com/yins.png')
        p.is-size-7 银盛支付
      .column
        img(src='/imgs/com/kingmed.png')
        p.is-size-7 金域医学
      .column
        img(src='/imgs/com/hulian.png')
        p.is-size-7 今日互联
      .column
        img(src='/imgs/com/sxl.png')
        p.is-size-7 思想力教育

  footer.section.pt-4
    .columns.qrcode.is-mobile.has-text-centered.has-text-light
      .column
        img(src='/imgs/wx/gzh.jpg')
        p.is-size-7 关注公众号
      .column
        img(src='/imgs/wx/mott.jpg')
        p.is-size-7 星收付小程序
      .column
        img(src='/imgs/wx/mall.jpg')
        p.is-size-7 星百货小程序

    section.section.has-text-centered.pt-0.pb-4
      .columns.is-mobile.is-vcentered
        .column
          span.icon.is-medium.has-text-success
            i.fab.fa-weixin.fa-2x
        .column
          span.icon.is-medium.has-text-danger
            i.fab.fa-weibo.fa-2x
        .column
          span.icon.is-medium.has-text-info
            i.fab.fa-zhihu.fa-2x
        .column
          span.icon.is-medium.has-text-danger
            i.fab.fa-slack-hash.fa-2x
        .column
          span.icon.is-medium.has-text-info
            i.fab.fa-twitter.fa-2x

    .level.is-mobile
      .level-left
        .container
          img(src='/imgs/lucky-byte.png' style='height:28px;')
      .level-right
        .container.has-text-right.has-text-grey
          p.is-size-7
            | &copy; #{new Date().getFullYear()} 合肥诺百通讯有限公司
          a.is-size-7(
            href='http://beian.miit.gov.cn' target='_blank') 皖ICP备15002320号

      button.button.is-dark.back-top(title="返回顶部")
        span.icon
          i.fas.fa-angle-up
